<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'django_project/django_project.css' %}">
	<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.structure.min.css' %}">
	<link rel="stylesheet" href="{% static 'jquery_ui/jquery-ui.theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'jquery-timepicker/jquery.timepicker.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{% static 'jquery_ui/jquery-ui.min.js' %}"></script>
	<script src="{% static 'jquery-timepicker/jquery.timepicker.min.js' %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
	<script src="{% static 'django_project/js/handlebars.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,200" rel="stylesheet" type="text/css">
	<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
	{% block nav %}
		{% include 'eventMap/nav.html' %}
	{% endblock nav %}
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}{% endblock %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
	{% if form %}
		{{form.as_p}}
    {% endif %}

    </body>
</html>
