{% extends "eventMap/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-error">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
