<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Qrilo</a>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'search_events' %}?next={{ request.path }}">Search Events</a></li>
				{% if user and not user.is_anonymous %}
					<li><a href="{% url 'add_event' %}?next={{ request.path }}">Add Event</a></li>
				{% endif %}
				<li><a href="{% url 'about' %}?next={{ request.path }}">Forum</a></li>
			</ul>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'about' %}">About</a></li>
				{% if user and not user.is_anonymous %}
					<li><a href="{% url 'user_profile' %}">{{ user.get_full_name|default:user.username }}</a></li>
					<li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
					<!-- <li><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a></li>
					<li><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a></li> -->
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
