{% extends "eventMap/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
	<div id="event-viz">
		<div id="map-canvas"></div>
		<div id="test">
		<button type="button" id="addEventButton" data-complete-text="Search Events" class="btn btn-primary" autocomplete="off">Add Event</button>
		<div id="side-bar"></div>
	</div>
	</div>
	<script type="text/x-mustache-template" id="grid-12-template">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" id="search_button">Zoom in to</button>
			</span>
			{% if city %}
			<input type="text" class="form-control" id="search_bar" placeholder={{city.city}}>
			{% else %}
				<input type="text" class="form-control" placeholder="Enter Location">
			{% endif %}
		</div>
		<div id = "googleMapBox"
		class = "box-content"
		style = "height: 100%; background-color: #b0c4de;" > </div >
	</script>
	<script src="{% static 'django_project/js/django_project.js' %}"></script>
{% endblock %}
