html, body {
	margin:0;
	padding:0;
	height:100%;
}

#addEventButton {
	float: right;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

#event-viz {
	height: 70%;
}

#map-canvas, #test {
	display:inline-block;
}

#test {
	height: 70%;
	position: absolute;
	width: 30%;

}

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 70%
}

#googleMapBox {
	height: 100%;
}

#side-bar {
	width: 100%;
	height: 100%;
	float: right;
	position: relative;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 4px;
}
